<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-navbar>
</ion-header>

  Scan Your QR-Code
  <ion-content padding>
    <ion-input type="text" placeholder="My Qr data" [(ngModel)]="qrdata"   ></ion-input>
    <button ion-button color="secondary" round (click)="generate()" name="barcode">Generate</button>
    <button ion-button color="secondary" round (click)="scan()" name="qr-scanner">Scan</button>

    <ion-card *ngIf="createdcode">
      <ngx-qrcode [qrc-value]="createdcode"></ngx-qrcode> 
      <ion-card-content>
        <ion-row>Value : {{ createdcode }} 
      </ion-row>
      </ion-card-content>
    </ion-card>

  <ion-card *ngIf="scannedcode">
    <ion-card-content>
      result from scan : {{scannedcode}}
    </ion-card-content>
  </ion-card>
  </ion-content>
